<div class='uit-body'>
    <div class='uit-container'>
        <div class='uit-content'>
            {{{ marked intro }}}

            {{#if spotifyUrl }}
                <a class='uit-button uit-button--spotify' href='{{ spotifyUrl }}'>Listen on Spotify {{> icons/forward }} </a>
            {{/if}}
            {{#if appleMusicUrl }}
                <a class='uit-button uit-button--apple' href='{{ appleMusicUrl }}'>Listen on Apple Music {{> icons/forward }} </a>
            {{/if}}
        </div>
    </div>
</div>
