<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__word uit-header__word--1'>The</span>
                <span class='uit-header__word uit-header__word--2'>Sound</span>
                <span class='uit-header__word uit-header__word--3'>of</span>
                <span class='uit-header__word uit-header__word--4'>Atlanta</span>
            </h1>
        </div>
        <img class='uit-header__image' src='{{ path }}/assets/header.jpg' />
        <div class='uit-content'>
            <div class='uit-header__credit'>
                <svg width="11" height="10" viewBox="0 0 11 10" class="uit-header__triangle">
                    <path fill-rule="evenodd" d="M5.5 0L11 10H0z"></path>
                </svg>
                Illustration by Mike McQuade
            </div>
            {{> partials/share }}
        </div>
    </div>
</div>