<div class='uit-header'>
    <div class='uit-container'>
        <div class='uit-content'>
            <h1 class='uit-header__headline' itemprop='headline'>
                <span class='uit-header__word uit-header__word--1'>The</span>
                <span class='uit-header__word uit-header__word--2'>Sound</span>
                <span class='uit-header__word uit-header__word--3'>of</span>
                <span class='uit-header__word uit-header__word--4'>Atlanta</span>
            </h1>
        </div>
        <img class='uit-header__image' src='{{ path }}/assets/header.jpg' />
        <div class='uit-content'>
            {{> partials/share }}
        </div>
    </div>
</div>