<div class='uit-player'>
    <div class='uit-container'>
        <div class='uit-player__button uit-player__button--play'>
            {{> icons/sort }}
            {{> icons/pause }}
        </div>
        <div class='uit-player__video' id="uit-player__video"></div>
        <audio id='audio-player'></audio>

        <div class='uit-player__content'>
            <div class='uit-player__button uit-player__button--previous'>
                {{> icons/right }}
            </div>
            <div class='uit-player__button uit-player__button--next'>
                {{> icons/right }}
            </div>
            <h1 class='uit-player__info'>
                <span class='uit-player__info-artist'>Cool band</span>
                <span class='uit-player__info-track'>a nice track</span>
            </h1>
        </div>
    </div>
</div>