<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>More from Guardian Atlanta week</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9yb9j'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/6e6cf96db917666f954fc8f1ae9f59e7fec9e9fe/0_126_4890_2933/500.jpg' />
                    <div class='uit-related__headline'>What is Guardian Atlanta week – and how can you get involved?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9kamq'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/e00e4b36a6ed3ae05cb64bd171c946225ca3cddb/0_0_3000_1800/500.jpg' />
                    <div class='uit-related__headline'>Black mecca or Confederate icon: will the real Atlanta please stand up?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9ybkp'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/618fccc0024d888af7626d01184331f93457f0e6/0_196_4897_2938/500.jpg' />
                    <div class='uit-related__headline'>Black 'reverse migration' driving Atlanta and Georgia towards Democrats</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9hngk'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/e455ae6a8e1c3db3e9b75b7b72abcf1238d39a69/0_338_3024_1814/500.jpg' />
                    <div class='uit-related__headline'>'Disneyland for adults': John Portman's dizzying interior legacy</div>
                </a>
            </div>
        </div>
    </div>
</div>