<div class='uit-related'>
    <div class='uit-container'>
        <div class='uit-related__header'>
            <h4 class='uit-related__title'>More from Atlanta Live</h4>
        </div>

        <div class='uit-related__items'>
            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/9kamq'>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>Black mecca or Confederate icon: will the real Atlanta please stand up?</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link' href='https://gu.com/p/995b5'>
                    <img class='uit-related__image' src='https://media.guim.co.uk/92d6c35b9c1975500ef4a1b00a4ea17279fe3d46/202_98_4203_2522/1000.jpg' />
                    <div class='uit-related__headline'>'It's about saving their lives': The black artists fuelling the 'New Atlanta Renaissance'
</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>

            <div class='uit-related__item'>
                <a class='uit-related__link'>
                    <img class='uit-related__image' src='' />
                    <div class='uit-related__headline'>This is the headline for the piece</div>
                </a>
            </div>
        </div>
    </div>
</div>