<li class='uit-track is-closed' data-platform='{{ platform }}' data-{{ platform }}='{{ url }}' data-track='{{ track }}' data-artist='{{ artist }}'>
    <div class='uit-track__row'>
        <div class='uit-track__track-wrapper'>
            <div class='uit-track__button'>
                {{> icons/play }}
                {{> icons/pause }}
            </div>

            <div class='uit-track__artist-image' style='background-image: url({{ artistThumbnail }})'></div>

            <h1 class='uit-track__track'>
                <span class='uit-track__artist'>{{ artist }}</span>
                <span>{{ track }}</span>
            </h1>
        </div>

        <blockquote class='uit-track__quote'>{{ quote }}
            <cite class='uit-track__cite'>Picked by {{{ marked pickedBy }}}</cite>
        </blockquote>

        <div class='uit-track__expand-button'>
            {{> icons/reveal }}
        </div>
    </div>
    <div class='uit-track__hidden'>
        <div class='uit-track__image-wrapper'>
            <img class='uit-track__rip uit-track__rip--right' src='{{ path }}/assets/right--{{ random }}.png' />
            <img class='uit-track__image' src='{{ artistImage }}' />
            <img class='uit-track__rip uit-track__rip--left' src='{{ path }}/assets/left--{{ random }}.png' />
        </div>
        <div class='uit-track__body'>{{{ marked body }}}</div>
        <cite class='uit-track__cite'>Picked by {{{ marked  pickedBy }}}</cite>
    </div>
</li>