.uit-header {
    position: relative;
    z-index: 3;
}

.uit-header__image {
    width: 100%;
    max-width: 1100px;
    margin: 24px auto;
}

.uit-header__word {
    position: absolute;
    display: block;
    color: $c-white;
    background-color: $c-dark-brown;
    font-family: 'Guardian Egyptian Web';
    font-weight: 700;
    font-size: 7vw;
    line-height: 1.2;
    padding: 0 0.9vw;

    @include mq(tablet) {
        font-size: 48px;
        padding: 0 5px;
    }

    @include mq(desktop) {
        font-size: 72px;
    }

    @include mq(leftCol) {
        font-size: 90px;
    }

    &--1 {
        top: 3vw;
        left: 19.5vw;

        @include mq(tablet) {
            top: 30px;
            left: 165px;
        }

        @include mq(desktop) {
            top: 40px;
            left: 210px;
        }

        @include mq(leftCol) {
            top: 45px;
            left: 78px;
        }
    }

    &--2 {
        top: 18vw;
        right: 12vw;

        @include mq(tablet) {
            top: 138px;
            right: 20px;
        }

        @include mq(desktop) {
            top: 186px;
            right: -195px;
        }

        @include mq(leftCol) {
            top: 213px;
            right: -191px;
        }
    }

    &--3 {
        top: 30vw;
        left: 26.5vw;

        @include mq(tablet) {
            left: 214px;
            top: 233px;
        }

        @include mq(desktop) {
            left: 281px;
            top: 306px;
        }

        @include mq(leftCol) {
            left: 169px;
            top: 360px;
        }
    }

    &--4 {
        top: 47vw;
        right: 17vw;

        @include mq(tablet) {
            top: 375px;
            right: 90px;
        }

        @include mq(desktop) {
            top: 490px;
            right: -120px;
        }

        @include mq(leftCol) {
            top: 570px;
            right: -130px;
        }
    }
}

.uit-header__credit {
    position: absolute;
    font-family: 'Guardian Sans Web';
    font-size: 12px;
    color: $c-grey;

    @include mq($until: tablet) {
        left: 104px;
        padding-left: 4px;
        border-left: 1px solid $c-light-grey;
        font-size: 12px;
        line-height: 1.2;
        max-width: 100px;
        padding-top: 1px;
    }

    @include mq(tablet) {
        font-size: 14px;
        top: -42px;
    }

    @include mq(leftCol) {
        top: -45px;
        right: -130px;
    }
}

.uit-header__triangle {
    fill: $c-dark-brown;
    height: .7em;
}