.uit-playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.uit-track {
    position: relative;
    padding: 10px 0;
    margin-bottom: 2px;
    overflow: hidden;
    border-top: 1px solid $c-light-grey;
}

.uit-track__row {
    position: relative;
    display: flex;
}

.uit-track__track-wrapper {
    position: relative;
    margin-right: 20px;
    flex-grow: 1;

    @include mq(tablet) {
        width: 380px;
        flex-shrink: 0;
    }

    @include mq(desktop) {
        flex-grow: 0;
    }

    @include mq(leftCol) {
        width: 540px;
    }
}

.uit-track__track {
    position: absolute;
    left: 70px;
    right: 0;
    width: auto;
    margin: 0;
    font-family: 'Guardian Egyptian Web';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;

    @include mq(phablet) {
        left: 120px;
    }

    @include mq(tablet) {
        width: 340px;
    }

    @include mq(desktop) {
        width: 260px;
    }

    @include mq(leftCol) {
        width: 420px;
    }

    span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $c-brown;
    }
}

span.uit-track__artist {
    color: $c-black;
}

.uit-track__quote {
    padding: 0;
    margin: 0;
    font-size: 24px;
    font-family: 'Guardian Egyptian Web';
    line-height: 1.2;
    font-weight: 700;
    font-style: italic;
    flex-shrink: 0;
    width: 380px;
    margin-right: 20px;
    display: none;

    @include mq(desktop) {
        display: block;
        width: 460px;
    }

    @include mq(wide) {
        width: 540px;
    }
}

.uit-track__cite {
    font-style: normal;
    color: $c-brown;
    display: block;
    font-size: 14px;
    padding-top: 4px;
    font-weight: normal;
    font-family: 'Guardian Sans Web';

    a {
        color: $c-brown;
        border-bottom: rgba($c-light-brown, 0.3) 1px solid;
        transition: all 0.2s linear;

        &:hover {
            text-decoration: none;
            color: $c-dark-brown;
            border-bottom-color: $c-dark-brown;
        }
    }

    p {
        display: inline-block;
    }
}

.uit-track__button {
    z-index: 5;
    background-color: $c-black;
    height: 60px;
    width: 60px;
    border-radius: 36px;
    box-sizing: border-box;
    float: left;
    position: relative;
    transition: background 0.2s linear;

    &:hover {
        background-color: $c-dark-brown;
    }

    .sound-of--enhanced & {
        display: block;
    }

    svg {
        width: 100%;
        height: 100%;
        fill: $c-white;
    }

    svg:nth-of-type(2) {
        display: none;
    }

    .uit[data-playing='true'] .is-current & {
        svg {
            display: none;
        }

        svg:nth-of-type(2) {
            display: block;
        }
    }
}

.uit-track__artist-image {
    background: $c-light-grey;
    background-position: center center;
    background-size: cover;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    overflow: hidden;
    float: left;
    display: inline-block;
    flex-shrink: 0;
    display: none;
    margin-left: -12px;

    @include mq(phablet) {
        display: block;
    }
}

.uit-track__expand-button {
    border: 1px solid $c-brown;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-sizing: border-box;
    flex-shrink: 0;
    transition: all 0.2s ease-out;

    &:hover {
        transform: rotate(10deg);

        svg {
            fill: $c-brown;
        }
    }

    svg {
        fill: $c-black;
        transition: fill 0.2s ease-out;
    }

    .is-expanded & {
        transform: rotate(45deg);
    }
}

.uit-track__hidden {
    position: relative;
    will-change: height;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    @include mq(desktop) {
        margin-left: 400px;
    }

    @include mq(leftCol) {
        margin-left: 560px;
        max-width: 620px;
    }

    .is-closed & {
        max-height: 0;
        visibility: hidden;
        transition: all 0.1s;
    }

    .is-expanded & {
        padding-top: 12px;
        max-height: 2500px;
        visibility: visible;

        @include mq(desktop) {
            padding-top: 0;
        }
    }

    .uit-track__cite {
        @include mq(desktop) {
            display: none;
        }
    }
}

.uit-track__image {
    margin: 12px 0 6px;
    display: none;
    width: 100%;

    .is-expanded & {
        display: block;
    }
}

.uit-track__body {
    @include bodyCopy();
    margin-bottom: 12px;
    max-width: 620px;

    a {
        color: $c-brown;
        border-bottom: rgba($c-light-brown, 0.3) 1px solid;
        transition: all 0.2s linear;

        &:hover {
            text-decoration: none;
            color: $c-dark-brown;
            border-bottom-color: $c-dark-brown;
        }
    }
}
