.uit-player {
    background-color: $c-black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000; // because frontend has crazy z-index values
    transform: translateY(270px);
    transition: transform 0.2s ease-out;
    box-sizing: border-box;
    height: calc(56.3vw + 90px); // 56.3 is 16:9 ratio as a percentage + 90px for space for buttons and title
    transform: translateY(calc(56.3vw + 90px));
    display: block;

    @include mq(phablet) {
        height: 180px;
        transform: translateY(180px);
    }

    @include mq(desktop) {
        height: 270px;
        transform: translateY(270px);
    }

    &.is-full {
        transform: translateY(0);
    }

    &.is-mini {
        transform: translateY(56.3vw);

        @include mq(phablet) {
            transform: translateY(90px);
        }

        @include mq(desktop) {
            transform: translateY(180px);
        }
    }
}

.uit-player__video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #000;

    @include mq($until: phablet) {
        width: 100%;
        top: 90px;
        height: 56.3vw;
    }

    @include mq(phablet, desktop) {
        width: 320px;
        height: 180px;
    }
}

.uit-player__button {
    border: 1px solid $c-yellow;
    height: 60px;
    width: 60px;
    border-radius: 36px;
    box-sizing: border-box;
    float: left;

    svg {
        width: 100%;
        height: 100%;
        fill: $c-yellow;
    }
}

.uit-player__button--play {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    border: 0;
    background-color: $c-yellow;

    @include mq(mobileLandscape) {
        left: 20px;
    }

    svg {
        fill: $c-black;
        display: none;
    }

    .uit[data-playing="true"] & {
        svg:nth-of-type(2) {
            display: block;
        }
    }

    .uit[data-playing="false"] & {
        svg:nth-of-type(1) {
            display: block;
        }
    }
}

.uit-player__button--previous {
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;

    @include mq(tablet) {
        display: block;
    }

    svg {
        transform: rotate(180deg);
    }
}

.uit-player__button--next {
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;

    @include mq(mobileLandscape) {
        display: block;
    }

    @include mq(wide) {
        right: 100px;
    }
}

.uit-player__content {
    padding: 10px;
    position: relative;

    @include mq(mobileLandscape) {
        padding: 10px 20px;
    }

    @include mq(phablet) {
        margin-left: 320px;
    }

    @include mq(desktop) {
        margin-left: 480px;
    }
}

.uit-player__info {
    color: $c-white;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.1;
    margin: 0;
    margin-left: 80px;

    @include mq(phablet) {
        margin-left: 0;
    }

    @include mq(tablet) {
        font-size: 30px;
        line-height: 1.1;
        margin-left: 80px;
    }
}

.uit-player__info-artist {
    color: $c-yellow;
    display: block;
}

.uit-player__info-track,
.uit-player__info-artist {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include mq(mobileLandscape) {
        margin-right: 80px;
    }
}
